<div class="p-5 container-fluid">
  <div class="d-flex justify-content-start align-items-center">
    <i class="fas fa-school"></i>
    <h3 class="m-2 text-dark">Update Employee</h3>
  </div>

  <div class="row align-items-center">
    <div class="p-2 d-md-block col-lg-6 mx-auto">
      <div class="shadow border-0 card p-4">
        <div class="card-body">
          <h4 class="text-dark mb-3">Update Employee Details</h4>

          <div class="input-group mb-3">
            <span
              class="shadow rounded-left border-0 input-group-text bg-white"
              id="basic-addon1"
            >
              <i class="fas fa-book-open"></i>
            </span>
            <input
              #username
              type="text"
              class="shadow rounded-right border-0 form-control"
              placeholder="Employee User Name"
              value="{{ current_emp_details.username }}"
            />
          </div>
          <div class="input-group mb-3">
            <span
              class="shadow rounded-left border-0 input-group-text bg-white"
              id="basic-addon1"
            >
              <i class="fas fa-book-open"></i>
            </span>
            <input
              #name
              type="text"
              class="shadow rounded-right border-0 form-control"
              placeholder="Employee Name"
              value="{{ current_emp_details.name }}"
            />
          </div>
          <div class="input-group mb-3">
            <span
              class="shadow rounded-left border-0 input-group-text bg-white"
              id="basic-addon1"
            >
              <i class="fas fa-chalkboard-teacher"></i>
            </span>
            <input
              #phonenumber
              type="text"
              class="shadow rounded-right border-0 form-control"
              placeholder="Employee Phone Number"
              value="{{ current_emp_details.phonenumber }}"
            />
          </div>

          <div class="input-group mb-3">
            <span
              class="shadow rounded-left border-0 input-group-text bg-white"
              id="basic-addon1"
            >
              <i class="far fa-clock"></i>
            </span>
            <input
              #age
              type="text"
              class="shadow rounded-right border-0 form-control"
              placeholder="Age"
              value="{{ current_emp_details.age }}"
            />
          </div>

          <div class="input-group mb-3">
            <span
              class="shadow rounded-left border-0 input-group-text bg-white"
              id="basic-addon1"
            >
              <i class="far fa-clock"></i>
            </span>
            <input
              #email
              type="text"
              class="shadow rounded-right border-0 form-control"
              placeholder="Email ID"
              value="{{ current_emp_details.email }}"
            />
          </div>

          <div class="row">
            <div class="col-6">
              <button
                (click)="
                  onUpdate(
                    username.value,
                    name.value,
                    age.value,
                    phonenumber.value,
                    email.value
                  )
                "
                type="button"
                class="shadow border-0 rounded-0 btn btn-primary px-4"
              >
                Update Employee
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
